/*________ОБНУЛЕНИЕ_____________________________________________________________________________________________*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Roboto;
    font-weight: 400;
}
input,button,textarea{font-family: inherit;}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*________Wrapper_____________________________________________________________________________________________*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1227px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0px 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/*________HEADER_____________________________________________________________________________________________*/

.header {
}
.header__container {
    display: flex;
    min-height: 72px;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
}

.menu {
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
    margin: 0px 24px 0px 0px;
}

.menu__link {
    font-size: 13px;
    line-height: calc(36 / 13 * 100%);
    color: #000000;
    font-weight: normal;
    letter-spacing: 0.3px;
}
.header__logo {
    margin-right: 50px;
    
}
.header__icon-menu {
}
.icon-menu {
   
}
.icon-menu__list {
    display: flex;
    flex-wrap: wrap;
}
.icon-menu__item {
}

.icon-menu__item:not(:last-child) {
    margin: 0px 12px 15px 0px;
}
.icon-menu__link {
}

/*------------MAIN------------------------------------------------------------------------------------------------*/

.page {
}
.page__main-block {
}
.main_block {
    position: relative;
}
.main-block__container {
    position: relative;
}

.main-block__body {
    margin: 0px 0px 0px 612px;
    padding: 44px 0px 422px 108px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}

@media (max-width: 1080px) {
    .main-block__body {
        margin: 0px 0px 0px 500px;
    }
}
@media (max-width: 992px) {
    .main-block__body {
        margin: 0px 0px 0px 300px;
    }
}
@media (max-width: 768px) {
    .main-block__body {
        margin: 0px 0px 0px 0px;
        padding: 44px 0px 422px 5px;
    }
}


.main-block__body > *:not(:last-child) {
    margin: 0px 0px 32px 0px;
}
.main-block__title {
    font-size: 60px;
    letter-spacing: 3.2px;
    line-height: calc(80 / 60 * 100%);
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 50px;
        line-height: calc(80 / 50 * 100%);
    }
}

.main-block__text {
    font-size: 24px;
    line-height: calc(31 / 24 * 100%);
    letter-spacing: 0.3px;
}

@media (max-width: 479px) {
    .main-block__text {
        font-size: 18px;
        ine-height: calc(31 / 18 * 100%);
    }
}
.main-block__buttons {

}
.main-block__button {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 16px 36px;
    color: #202020;
    font-size: 16px;
    line-height: calc(48 / 16 * 100%);
    margin: 0px auto;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

@media (max-width: 1080px) {
    .main-block__image {
        opacity: 0.7;
    }
}

/*------------MAIN-JUST-BLOCK------------------------------------------------------------------------------------------------*/

.just-block {
    margin: 84px 0px 0px 0px;
}
.just-block__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.just-block__title {
    font-size: 60px;
    line-height: calc(114 /60 * 100%);
    letter-spacing: 3.4px;
}
.just-block__button {
    width: 250px;
    height: 50px;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: calc(48 / 16 * 100%);
    border-radius: 24px;
    padding: 17px 50px;
}

@media (max-width: 479px) {
    .just-block__title {
        font-size: 45px;
    }
    .just-block {
        margin: 20px 0px 0px 0px;
    }
}

/*------------MAIN-IMAGE-BLOCK------------------------------------------------------------------------------------------------*/


.page__image {
    margin: 18px 0px 0px 0px;
}
.image-block__container {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
    flex-wrap: wrap ;
    
}
@media (max-width: 1226px) {
    
    .image-block__container >:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

@media (max-width: 587px) {
    .image-block__column {
        text-align: center;
    }
    .image-block__container >:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

.image-block__image:not(:last-child) {
    padding: 0px 2px 0px 0px;
}
.image-block__title {
    font-size: 23px;
    line-height: calc(30 / 23 * 100%);
    color: #202020;
    padding-top: 13px;

}
.image-block__text {
    font-size: 13px;
    line-height: calc(19 / 13 * 100%);
    color: #737373;
    padding-top: 13px;
}

/*------------MAIN-SHOP-BLOCK------------------------------------------------------------------------------------------------*/


.page__shop {
}
.shop-block { 
    margin: 84px 0px 0px 0px;   
}
.shop-block__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-block__info {
    padding-top: 249px;
}

@media(max-width:1132px) {
    .shop-block__container {
        justify-content: center;
    }
    .shop-block__info {
        padding-top: 10px;
    }  

}

.shop-info {
    color: #202020;
}


.shop-block__title {
    font-size: 60px;
    line-height: calc(80 / 60 * 100%);
    letter-spacing: 3.2px;
    margin-bottom: 34px;
    
}
.shop-block__text {
    font-size: 24px;
    line-height: calc(31 / 24 * 100%);
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}
.shop-block__button {
    background: #202020;
    border-radius: 24px;
    min-width: 160px;
    min-height: 48px;
    padding: 15px 24px;
    font-size: 16px;
    line-height: calc(48 / 12 * 100%);
    text-align: center;
    color: #ffffff;

}
.shop-block__image {
}

@media(max-width:1132px) {
    .shop-block__image {
        margin: 15px 0px 0px 0px;
    }
}
.image-shop {
}
/*------------footer
------------------------------------------------------------------------------------------------*/

.footer {
   
    
}
.footer__container {
    max-width: 1445px;
    margin: 0px auto;
    margin-top: 30px;
}
.footer__images img{
    display: block;
}
.footer__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 1438px) {
    .footer__images {
        justify-content: center;
    }
    .footer__images >:not(:last-child) {
        margin-bottom: 15px;
    }
}